.card {
 display: flex;
 box-sizing: border-box;
 flex-direction: column;
 background: #fff;
 border-radius: 12px;
 box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
 overflow: hidden;
 transition: transform 0.2s ease-in-out;
 max-width: 390px;
 width: 100%;
 max-height: 420px;
 height: 100%;
 position: relative;
 cursor: pointer;

}
.imageWrapper {
 width: 100%;
 height: 180px;
 overflow: hidden;
}
.image {
 width: 100%;
 background-size: cover;
 background-position: center;
 height: auto;
 object-fit: cover;
}

.tags {
 display: flex;
 gap: 6px;
 padding: 8px 0px;
}

.tag {
 background: #e0e0e0;
 color: #333;
 font-size: 12px;
 padding: 4px 8px;
 border-radius: 6px;
}

.info {
 padding: 12px;
}
.titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.favoriteButton {
 width: 40px;
 height: 40px;
 color: black;
}
.title {
 font-size: 18px;
 font-weight: bold;
 margin-top: 6px;
 text-align: left;
 color: #222;
}

.description {
 font-size: 14px;
 text-align: left;
 color: #666;
}

.bookmark {
 position: absolute;
 top: 10px;
 right: 10px;
 background: none;
 border: none;
 font-size: 22px;
 cursor: pointer;
 transition: color 0.2s;
 color: #aaa;

 &:hover {
  color: #ff9800;
 }
}

@media (max-width: 480px) {
 .card {
  max-width: 100%;
 }

 .image {
  height: 140px;
 }

 .title {
  font-size: 16px;
 }

 .description {
  font-size: 12px;
 }

 .bookmark {
  font-size: 20px;
 }
}